---
import Layout from "../layouts/Layout.astro";
---

<Layout title="QuickCart">
  <main>Quick Cart</main>
</Layout>

<style>
  main {
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
